
@font-face {
    font-family: "Montserrat";
    src: url(./fonts/static/Montserrat-Black.ttf);
    font-weight: 700;

    font-family: "Montserrat";
    src: url(./fonts/static/Montserrat-Black.ttf);
    font-weight: 400;

    font-family: "Montserrat";
    src: url(./fonts/static/Montserrat-Black.ttf);
    font-weight: 300;
}


a{
    text-decoration: none;
}

li{
    list-style: none;
}

.container {
    width: 100%;
    margin: 0, auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.header-background {
 width: 100%;
 background: no-repeat url(./imeges/Sections\ background/section-1\(header\).jpg);
 background-attachment: fixed;
 background-size: 100%;
}
.header-box {
    width: 100%;
   position: fixed;
   background-color:#5e5d5899;
   display: flex;
   justify-content: center;
 
}
.header {
 width: 1160px ;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.header-link {
    display: flex;
}
.header-limk-box {
  padding-left: 20px;
}
.header-button-link {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 16px;
    color:#ffffff8d ;
    padding-bottom: 53px;
}

.header-button-link:hover{
    color: #18cfab; 
    border-bottom: 2px solid #18cfab;
}

/* HOME  */
.home-box {
width: 100%;
display: flex;
justify-content: center;
}

.home {
    width: 1160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home-text-wrapper{
    font-family: "Montsserat";
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 340px;
}

.home-text:first-child {
 font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 22px;

}

.home-text:nth-child(2) {
    font-size: 78px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 22px;  
}

.home-text:last-child {
    font-size: 34px;
    font-weight: 400;
    color: rgb(212 212 212 / 71%);
}

.home-text-color {
    color: rgba(24, 207, 171, 1);
}
.home-butoons {
    display: flex;
  justify-content: center;
  color: #ffffff;
  padding: 130px 0 104px 0;
}
.home-buttons-wrapper:last-child{
    padding-left: 26px;
}
.home-button-explo {
    background: #18cfab;
    padding: 16px 18px;
    border: none;
    font-weight: 700;
    font-size: 15px;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px -5px 0px 0px #ffffff;
    cursor: pointer;  
}
.home-button-purch {
    background: #00cbf6;
    padding: 16px 12px;
    border: none;
    font-weight: 700;
    font-size: 15px;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px -5px 0px 0px #ffffff;
    cursor: pointer;
}

/* Option */
.options {
width: 100%;
padding-top: 5px;
display: grid;
grid-template-columns: repeat(4,1fr);
grid-auto-rows: 360px;
}
.option {
    background-color: rgba(28, 42, 51, 1); 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.option-text {
    font-family: "Montsserat";
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;  
    color: rgba(255, 255, 255, 1);
    padding-top: 71px;
}

.option:nth-child(even){
    background-color:  rgba(24, 207, 171, 1);
    
}


.text-colored {
    color: #18CFAB;
    padding-top: 47px;
  }
  
/* Service */
  
  .service {
    width: 1160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 90px 0;
  cursor: pointer;
  }
  
  .service-title {
    font-family: "Montsserat";
    font-weight: 400;
    font-size: 36px;
    color: rgba(78, 78, 78, 1);
  }
  
  .service-lines .service-line:first-child {
    width: 75px;
    border-bottom: solid #18cfab 1.5px;
    padding-top: 26px;
  }
  
  .service-lines .service-line:last-child {
    width: 78px;
    border-bottom: solid #18cfab 1.5px;
    padding-top: 2px;
    margin-left: 8px;
  }
  
  .service-buttons {
    display: flex;
    padding-top: 70px;
    padding-bottom: 13px;
  }
  
  .service-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .service-button {
    display: flex;
    justify-content: center;
    width: 194px;
    padding: 28px 0;
    color: black;
    background-color: #f8fcfe;
    border: 1px solid #edefef;
    font-family: "Montsserat";
    font-weight: 400;
    font-size: 16px;
  }

  .service-button:hover {
    border: 2px solid #18cfab;
    padding: 27px 0;
  }
  
  /* JS style */
  .service-button-color {
    background-color: #18cfab;
    border: 1px solid #18cfab;
    color: #ffffff;
    margin-bottom: -2px;
  }
 .service-notcontent {
    display: none;
  }

  .service-notimage {
    visibility: hidden;
  }
  .service-content-items{
    display: flex;
    justify-content: flex-start;
  }
  
  .service-content {
    width: 100%;
      }
  
  .service-content-text {
    
    padding-left: 15px;
    font-family: "Montsserat";
    font-weight: 300;
    font-size: 14px;
    line-height: 24.37px;
    color: rgba(119, 119, 119, 1);
  }
  

  /* Purchase */
  
  .purchase-box {
    width: 100%;
    display: flex;
    justify-content: center;
    background: url(./imeges/service/Back.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  
  
  .purchase {
    width: 1160px;
    padding: 130px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .purchase-title {
    font-weight: 700;
    font-size: 40px;
    color: #18cfab;
    text-transform: uppercase;
  }
  
  .purchase-text {
    padding-top: 14px;
    font-weight: 400;
    font-size: 16px;
    color:rgb(138 138 138); 
    font-family: 'Montserrat';
  }
  
  .purchas-button-wrapper {
    padding-top: 65px;
  }
  
  .purchase-button {
    background: #17cca8;
    padding: 16px 18px;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 15px;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px -5px 0px 0px #ffffff;
    cursor: pointer;
    margin-top: 70px;
  }
  
  /* Our Amazing Work */
  
  .work-box {
    width: 100%;
    background-color: #e9edef;
    display: flex;
    justify-content: center;
  }
  
  .work {
    width: 1160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 99px 0 0 0;
  }
  
  .work-title {
    font-family:  "Montsserat";
    font-size: 36px;
    font-weight: 400;
    color: #4e4e4e;
  }
  
  .work-lines .work-line:first-child {
    width: 75px;
    border-bottom: solid rgb(24, 205, 169) 1px;
    padding-top: 24px;
  }
  
  .work-lines .work-line:last-child {
    width: 78px;
    border-bottom: solid rgba(24, 207, 171, 1) 1px;
    padding-top: 2px;
    margin-left: 8px;
  }
  
  .menu {
    padding: 70px 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .menu-buttons {
    display: flex;
    justify-content: center;
  }
  
  .menu-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .menu-button {
    display: flex;
    justify-content: center;
    padding: 12px 28px;
    color: rgba(113, 113, 113, 1);
    border: 1px solid rgba(218, 218, 218, 1);
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    line-height: 42px;
    cursor: pointer;
  }
  
  .menu-button:hover {
    border: 1px solid rgba(24, 207, 171, 1);
    color: rgba(24, 207, 171, 1);
    padding: 12px 30px;
  }
  
  .menu-button-active {
    border: 1px solid rgba(24, 207, 171, 1);
    color: rgba(24, 207, 171, 1);
    padding: 12px 30px;
  }
  
  .menu-hidden {
    padding-top: 71px;
    display: grid;
    grid-template-columns: repeat(4, 290px);
    grid-template-rows: repeat(3, 205px);
    gap: 0px;
  }
  
  .menu-image-box {
    position: relative;
  }
  
  .menu-image-hover {
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: #e9edef;
    font-family: "Montserrat";
  }
  
  

  .menu-image-box:hover > .menu-image-hover {
    display: flex;
    border-top: 2px solid rgba(24, 207, 171, 1);
  }
  
  .menu-image-title {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    color: rgba(24, 207, 171, 1);
    text-transform: uppercase;
    margin-top: 25px;
    cursor: pointer;
  }
  
  .menu-image-text {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 300;
    color: rgba(138, 138, 138, 1);
    margin-top: 10px;
    cursor: pointer;
  }
  
  .button-louder {
    background: rgba(24, 207, 171, 1);
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    width: 168px;
    position: relative;
    height: 63px;
    overflow: hidden;
    margin-top: 50px;
  }

  .load-icon {
    margin-left: 23px;
  }
  
  .button-louder .load-title {
    width: 168px;
    display: block;
    pointer-events: none;
    transition: all 0.25s ease;
  }
  
  .load-animate {
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 100;
    border-radius: 50%;
    top: 0;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: all 0.25s ease;
  }
  
  .load-animate:after {
    content: "";
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-left: 3px solid #fff;
    animation: load infinite 0.8s ease 0.05s;
    position: absolute;
  }
  
  .load-animate:before {
    content: "";
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-left: 3px solid #fff;
    animation: load infinite 0.8s linear;
    position: absolute;
    opacity: 0.6;
  }
  
  .button-louder.load {
    width: 60px;
    border-radius: 50%;
  }
  
  .button-louder.load {
    padding-bottom: 4px;
    padding-left: 3px;
  }
  
  .button-louder.load .load-title {
    transform: translate(-140px);
  }
  
  .button-louder.load .load-icon {
    display: none;
  }
  
  .button-louder.load .load-animate {
    opacity: 1;
  }
  
  @keyframes load {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Breaking News */

  
  .news {
    width: 1160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0;
  }
  
  .news-title {
    font-family:  "Montsserat";
    font-size: 36px;
    font-weight: 400;
    color: #4e4e4e;
  }
  
  .news-lines .news-line:first-child {
    width: 75px;
    border-bottom: solid rgba(24, 207, 171, 1) 1px;
    padding-top: 24px;
  }
  
  .news-lines .news-line:last-child {
    width: 78px;
    border-bottom: solid rgba(24, 207, 171, 1) 1px;
    padding-top: 2px;
    margin-left: 8px;
  }
  
  .news-contents {
    margin-top: 68px;
    width: 1160px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    row-gap: 46px;
}

.news-content {
    position: relative;
    width: 100%;
}

.news-content-img {
    cursor: pointer;
}

.news-content-date {
    position: absolute;
    width: 20%;
    text-align: center;
    top: 0;
    right: 0;
    font-family: "Montsserat";
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    background-color: #203E38;
}

.news-content-title {
    font-family: "Montsserat";
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
}

.news-content-text {
    padding-left: 15px;
}

.news-content-coments {
    font-family: "Montsserat";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
}

.news-coments-last {
  font-family: "Montsserat";
    padding-right: 15px;
    border-right: 1px solid #777777;
    color: #777777;
}

.news-coments-all {
    padding-left: 15px;
    color: #777777;
    font-family: "Montsserat";
}

.news-content:hover .news-content-date {
    background-color: #18CFAB;
}

.news-content:hover .news-content-title {
    color: #18CFAB;
}


/* Section people */

.people-title-wrapper {
  font-family:  "Montsserat";
  font-size: 36px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

  
  .people-box {
    width: 100%;
    display: flex;
    justify-content: center;
    background: url(./imeges/service/section-3.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
}

.people {
  width: 1160px;
  padding: 130px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.people-title{
  font-family:  "Montsserat";
  font-size: 36px;
  font-weight: 400;
}


.people-lines .people-line:first-child {
  width: 75px;
  border-bottom: solid rgba(24, 207, 171, 1) 1px;
  padding-top: 24px;
}

.people-lines .people-line:last-child {
  width: 78px;
  border-bottom: solid rgba(24, 207, 171, 1) 1px;
  padding-top: 2px;
  margin-left: 8px;
}

.shappe {
    margin-top: 68px;
}

.people-comments-box {
    position: relative;
    padding: 50px 0;
    width: 100%;
    margin-top: 37px;
    font-family: "Montsserat";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    text-align: center;
}

.people-story {
    position: absolute;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
}

.employee-job {
    font-weight: 300;
    text-transform: none;
}

.peoples-information-box {
    text-align: center;
    width: 100%;
    margin-top: 37px;
    position: relative;
    padding: 50px;
}

.employee {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    font-family: "Montsserat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #18CFAB;
    text-align: center;
    opacity: 0;
}

.start {
    opacity: 1;
    
}



.peoples-images-box {
    position: relative;
    margin-top: 57px;
    padding: 50px 0;
    width: 35%;
    display: flex;
    justify-content: space-around;
}

.people-wrapper {
    margin-top: 30px;
    border-radius: 50%;
    height: 61px;
    cursor: pointer;
    border: 5px solid rgba(31, 218, 181, 0.2);

}



.people-wrapper.selected-scin {
    transform: scale(2);
    animation: selected-scin 100ms ease-in-out;
}




@keyframes selected-scin {
    0% {
        transform: scale(1);
    }

    25% {
      transform: scale(1.5);
  }

    50% {
        transform: scale(2);
    }

    75% {
      transform: scale(2.5);
  }

    100% {
        transform: scale(3);
    }
}


.people-wrapper.selected {
  transform: translate(0, -10%);
  transition: 150ms ease-in-out;
}

.people-wrapper:nth-child(1) {
  left: 0;
}

.people-wrapper:nth-child(2) {
  left: 30%;
}

.people-wrapper:nth-child(3) {
  right: 30%;
}

.people-wrapper:nth-child(4) {
  right: 0;
}


.pointer-left,
.pointer-right {
    position: absolute;
    bottom: 50%;
    transform: translate(0, 50%);
    color: #BBBBBB;
    width: 31px;
    height: 31px;
    border: 1px solid #BBBBBB;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.pointer-left:hover,
.pointer-right:hover {
    background-color: #18CFAB;
    color: white;
}

.pointer-left {
    right: 120%;
}

.pointer-right {
    left: 120%;
}

/* BLOCK 9 */

.grid {
  width: 1160px;
  padding: 80px 0 50px 0;
  
}


.gallery-images {
  float: left;
  border-radius: 50px;
  margin-bottom: 20px;
  width: 350px;
 
}
.gallery-images:hover{
  transform: scale(1.3);
  animation: big 1000ms ease-in-out;
}


@keyframes big {
  0% {
      transform: scale(1);
  }

  100% {
      transform: scale(1.3);
  }
}


.gallery-images img {
  width: 100%;
}


/* Footer */

.footer {
  background-color: #22353F;
  width: 100%;
  padding: 48px 0;
  text-align: center;
}

.footer-text {
  font-family:  "Montsserat";
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #AEAEAE;
}

  